h1{
    color:rgb(6, 75, 63)
} 
*{
    border:goldenrod;
}
h2{
    color: rgb(8, 236, 160);
  }
h3 {
    background-color: black;
    color: white;
  }
  h2{
    color: rgb(20, 87, 81);
  }
  h6{
    color: rgb(13, 228, 146);
  }


  .header{
    background-image: url("wp.jpg");
  }



.text{
    border-left: 12px solid rgb(80, 172, 218);
    background-image: url("sc.png");
}